html{
    font-size: 62.5%!important;
}
@media (min-width:1025px){
    html{
        font-size: 62.5%;
    }
}
@media (min-width:641px){
    html{
        font-size: 59%;
    }
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* 左边 */
.navContent a{
  font-size: 1.6rem;
  font-weight:bold ;
}
.login{
    height: calc(100vh - 84px);
}
.login a{
    color:#00a862;
    font-size: 1.6rem;
}
.login a.register{
      border-radius: 13px;
}
@media (max-width:992px){
    .login{
        height: auto;
    }
    .login>div{
       padding: 0!important;    
    }
}